.main-atendimento{
    clear:both;
	width: 100%;
	height: 500px;
}
.atd-form{
 position: relative;
 left:500px;
 top: 50px;
}
.field-at{
	margin-top: 15px;
}

.field-at input { 
			line-height: 1.25rem;
			color: #4e4e4e;
			margin-left:15px;
			width: 410px;
			height: 30px;
			border-radius: 5px;
			border: 1px solid #dadada;
}
.field-at  textarea {
		border: 1px solid #dadada;
	    		color: #4e4e4e;
}
.field-button{
	margin-top: 50px;
}
.lbl-at{
	
	float: left;
	
}
.field-button button {
	width:150px;
	height:35px;
	
}