body{
	outline: 0;
	margin: 0;
    padding: 0;
	box-sizing: border-box;
	overflow-x: hidden;
    line-height: 1;
    letter-spacing: 0;
}
.main-topo{
	

 position: relative;
}
.topo{
	 background-color: #c00a26;
	 width: 100%;
	 height: 140px;
	margin: 0 auto;
	
}
.img-logo{ max-width: 150px; max-height:100px;}
.main-menu-top {
	 width:100%;
	 float:left;
	 height: 40px;
	 background-color: #0c2d69;
	  padding-top: 20px;
}

.main-menu-top ul {
	 list-style: none;
	 width: 100%;
	 position: relative;
	  margin-top: -5px;
}
.main-menu-top ul li{
	
	 text-align: center;
	 display: inline-block;
	 margin-left:50px;	
	
}
.main-menu-top ul li a{

     text-decoration:none;
     color:white;
     font-size:20px;	 
 
}
.icn-cart {
	 width: 58px;
	 height: 56px;	
	 margin-right: 12.5px;
	 background: url(/trabalhoweb/public/img/main.png) no-repeat -1px -101px;
	 content: '';
	 display: inline-block;
}
.center{
	
	margin-left: 200px;
}
.logo{
	 float:left;
	 width: 150px;
	 height:120px;
	 margin-left: 150px;
	 margin-top: 10px;
}
.carrinho{
     float:left;
	 width: 100px;
	 margin-left: 100px;
	 margin-top: 10px;
	 display: inline-block;
}
.busca{
	 float:left;
	 width: 600px;
	 height: 100px;
     position: relative;
	 margin-left: 100px;
}
.txtbusca{
	width: 400px;	
	line-height: 2rem;
	border-radius: 5px;
    color: #969696;
}
.btn-search{
	position: relative;
    text-transform: uppercase;
    border: 0 none;
    cursor: pointer;
    background-color: transparent;
    padding: 0;
    position: absolute;
    top: 48px;
    right: 100px;
    width: 24px;
    height: 24px;
    background: url(/projeto/trabalhoweb/public/img/main.png) no-repeat -60px -101px;
    content: '';
    display: inline-block;
}
.formbusca{
	margin-top:40px;
	margin-left:100px;
}

.txt-cart{
	line-height: 1.25rem;
    margin-top: 3px;
    color: #fff;
}
.main-banner{

	height:300px; 
	width:100%; 
	float:left;
}
.main-destaques{
   
    margin-top:440px !important;
	height:400px; 
	width:100%; 
}
footer{
   background-color: #0c2d69;
  width:100%;
  height:300px;
}
.element-footer{
  background-color: #c00a26;
  margin: 0 auto;
  padding: 0;
  
}
.fo-header{
  
  width:100%;
  height:20px;
}
.main-mais-vendidos{
	height:400px; 
	width:100%;	
}
.btncomprar{
	text-align: center;
    background-color: #c00a26;
    transition: background-color .3s ease-in 0s;
    font-weight: bold;
    height: 37px;
    line-height: 34px;
	padding: 0px;
}
.fo-atendimento h2{
	
	text-align:center;
    margin-top: -5px;
	color:white;
}
.tp-atd{
	list-style-type: none;
}
.tp-list-item {
	 margin-left: 100px;
	 margin-top: -10px;
	 float:left;
     color:white;     
}
.tp-list-opt{
	 margin-left: 300px;
	 display: inline-block;
}
.tp-link-list{
	 color:white !important;
}
.fo-line-b{
	 background-color: white;
	 height: 10px;
	 width:100%;
}
.tp-list-item-login{
text-decoration: underline;
border-radius:5px;

}
.tp-list-item-login:hover   #login-content {
     display: block;
}
#login-content {
    display: none;
    height: 250px;
	width:240px;
    position: absolute;
    left: 880px;
    background-color: blue;
    top: 22px;
    z-index:1;
     background-color: #c00a26;
     border: 1px solid white;
     border-radius: 5px;
  
}
#login-form{
     margin:auto;
     margin-top:10px;
     width:180px;
     height: 200px;
     color:black;
     border-radius:5px;
     background-color:#c00a26;
}

.form-login{
    margin-top:30px;
}
.form-login label{
    color:white;
    margin-left:5px;
}

.btnClass{
   width:80px;
   height:45px;
   text-align:center;
   background-color: #c00a26; 
   display:inline-block;
   color:white;
   border: 1px solid white;
}
#loginsubmit{
 margin-top:30px;
 text-decoration:none;   
 width:80px;
 height:45px;   
 float:left; 
 position:relative;
 top:10px;
 margin-left:5px;
}
.formbtn-cadastro{
 text-decoration:none;      
}
#username{
    
 border-radius:5px;   
 height:25px;      
}
#password{
 border-radius:5px;   
 height:25px;         
}
.topo-logado {
    position:relative;
    top:90px;
    display:inline;
    color:white;
    font-size:20px;
}
.topo-logado-anchor{
    
    color:white;
}